@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul {
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
    padding: 20px;
}
.logo {
    width: 100px;
    height: 100px;
} */

.card {
    width: 140px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
}
.cardlist {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.cardlist .shimer-card {
    width: 200px;
    height: 200px;
    background: rgb(209, 207, 207);
    margin: 20px;
    border-radius: 10%;
}
