/* contact.css */

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 6rem;
    height: 553px;
}

.contact-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-form {
    display: grid;
    grid-gap: 1rem;
    margin-bottom: 1.5rem;
}

.contact-label {
    font-weight: bold;
}

.contact-input {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    width: 609px;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.contact-input:focus {
    border-color: #f26d7d;
    outline: none;
}

.contact-textarea {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    width: 609px;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.contact-textarea:focus {
    border-color: #f26d7d;
    outline: none;
}

.contact-button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #d53f54;
    color: white;
}
