/* footer.css */

.style-123 {
    position: relative;
    padding: 0px 60px;
    height: 80px;
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
    max-width: 1536px;
    cursor: auto;
    user-select: none;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: #881952;
}

.style-124 {
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-125 {
    display: flex;
    align-items: center;
    height: 80px;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-126 {
    flex: 1 1 0%;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-127 {
    display: inline-block;
    cursor: pointer;
    text-decoration: none solid rgb(40, 44, 63);
    color: rgb(40, 44, 63);
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-128 {
    display: inline;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-129 {
    height: 3rem;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-130 {
    color: rgb(255, 255, 255);
    font-size: 21.4286px;
    text-align: center;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-131 {
    cursor: text;
    user-select: text;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-132 {
    text-align: end;
    flex: 1 1 0%;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-133 {
    display: inline-block;
    cursor: pointer;
    text-decoration: none solid rgb(40, 44, 63);
    color: rgb(40, 44, 63);
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-134 {
    display: inline;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-135 {
    height: 1.7142857142857142rem;
    margin: 0px 16px;
    cursor: pointer;
    user-select: none;
    margin: 0px 16px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-136 {
    display: inline-block;
    cursor: pointer;
    text-decoration: none solid rgb(40, 44, 63);
    color: rgb(40, 44, 63);
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-137 {
    display: inline;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-138 {
    height: 1.7142857142857142rem;
    margin: 0px 16px;
    cursor: pointer;
    user-select: none;
    margin: 0px 16px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-139 {
    display: inline-block;
    cursor: pointer;
    text-decoration: none solid rgb(40, 44, 63);
    color: rgb(40, 44, 63);
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-140 {
    display: inline;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-141 {
    height: 1.7142857142857142rem;
    margin: 0px 16px;
    cursor: pointer;
    user-select: none;
    margin: 0px 16px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.style-142 {
    display: inline-block;
    cursor: pointer;
    text-decoration: none solid rgb(40, 44, 63);
    color: rgb(40, 44, 63);
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-143 {
    display: inline;
    cursor: auto;
    user-select: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.style-144 {
    height: 1.7142857142857142rem;
    margin: 0px 16px;
    cursor: pointer;
    user-select: none;
    margin: 0px 16px;
    padding: 0px;
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
