/* Header container */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 80px;
}

/* Logo image */
.logo {
    height: 6rem;
    padding-left: 1rem;
}

/* Navigation items */
.nav-items {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 100px;
}

.nav-style-element {
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.nav-style-element li {
    padding: 0 0.5rem;
}

.nav-style-element li a {
    color: #333;
    text-decoration: none;
}

.nav-style-element li a:hover {
    color: #f26d7d;
    font-weight: bold;
}

/* location div and address*/
.header .location-div {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
    font-size: 14px;
}

.location-div .other {
    font-weight: 700;
    color: #3d4152;
    float: left;
    padding-bottom: 2px;
    border-bottom: 2px solid #3d4152;
}
.location-div .other:hover {
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
}
.location-div .location {
    display: block;
    font-weight: 300;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
}
.location-div .arrow-down {
    position: absolute;
    right: -6%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fc8019;
    font-weight: 700;
}

/* User info and online indicator */
.user-info {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.user-info h1 {
    font-size: 0.8rem;
    font-weight: bold;
    color: #900;
    margin-right: 1rem;
}

.online-indicator {
    font-size: 1rem;
    margin-right: 1rem;
}

/* Log In/Out button */
.login-button {
    border: none;
    background-color: black;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #d53f54;
}

.logo {
    width: 180px;
    height: 50px;
    margin-left: 140px;
    margin-top: 0px;
}

.other {
    position: relative;
}

@media screen and (max-width: 767px) {
    .header .offer-head,
    .header .help-head,
    .header .cart-head {
        display: none;
    }

    .header .location-div {
        display: none;
    }
}
